@page "/inventory/{Id:int}"
@inject KlockaLib.Repositories.IInventoryRepository InventoryRepository
@inject NavigationManager NavigationManager
@using KlockaLib.Data.Entities

    <h3>
        @inv.Name
        <span class="btn btn-primary" @onclick="BackToInventories">&#x25c0;</span>
    </h3>



@code {
    [Parameter]
    public int Id { get; set; }

    Inventory inv;
    protected override void OnInitialized()
    {
        inv = InventoryRepository.GetById(Id);
    }

    void BackToInventories()
    {
        NavigationManager.NavigateTo("/inventories");
    }
}
